$link-color: #2366d1;

.add-photo-btn {
    font-size: 10em;
    border: 5px dotted #4a4a4a;
    border-radius: 10%;
    color: inherit;
	height: 1.5em;
	width: 1.5em;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	transition: all 0.5s ease;
}

.add-photo-btn:hover {
	color: $link-color;
	border-color: $link-color;
	transition: all 0.5s ease;
}

.add-photo-btn input[type=file].add-photo-input {
	cursor: pointer;
	opacity: 0;
	height: 0;
	width: 0;
}

img.slide-image {
	max-height: 500px;
}

.carousel-slide {
	display: flex;
	flex-direction: column;
}

.carousel-slide .carousel-slide-control {
	font-size: 1.5em;
}

.button.button-no-border {
	border: none;
}