body.prevent-scroll {
    height: 100vh;
    overflow: hidden;
}

.waterfall {

    .column {
        padding: 0.25rem;
    }

    .display_wrapper {
        position: relative;
        padding: 5px;
        width: 100%;
    }
}