body.prevent-scroll {
    height: 100vh;
    overflow: hidden;
}

.waterfall {
    display: flex;
    flex-direction: row;

    img.width-2-cols {
        width: calc( 100vw/2 );
    }

    img.width-3-cols {
        width: calc( 100vw/3 );
    }

    img.width-4-cols {
        width: calc( 100vw/4 );
    }

    img.width-5-cols {
        width: calc( 100vw/5 );
    }

    img.width-6-cols {
        width: calc( 100vw/6 );
    }

    #add-image {
        position: fixed;
        right: 100px;
        bottom: 100px;
        width: 100px;
        height: 100px;
        background: white;
        border-radius: 100%;

        i {
            font-size: 90px;
        }
    }

    .waterfall-column {
        display: flex;
        flex-direction: column;
        margin: 0 6px 10px 6px;

        .waterfall-image {
            margin-top: 8px;
        }

        .image-wrapper {
            position: relative;
            display: flex;
            justify-content: center;

            .image-control {
                opacity: 0;
                position: absolute;
                bottom: 25px;

                .button-wrapper {
                    display: flex;
                    background-color: lightgray;
                    font-size: 2rem;
                    width: 200px;
                    justify-content: space-evenly;
                    padding: 5px;
                    border-radius: 50px;
                }
            }

            &:hover .image-control {
                opacity: 1;
            }
        }
    }
}




/*
.waterfall {

    .column {
        padding: 0.25rem;
    }

    .display_wrapper {
        position: relative;
        padding: 5px;
        width: 100%;
    }
}*/